@using TEMPUS.WebSite.Models.Project
﻿@{
    ViewBag.Title = "Tasks";
}

@section PageButtons {
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 pull-right">
            <a href="#" class="btn btn-primary form-control">
                <span class="fa fa-plus"></span>&nbsp;Create Task
            </a>
        </div>
    </div>
}

<div class="row">
    <div class="form-horizontal">
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label">Asignee</label>
                <div class="col-md-8">
                    <select class="form-control">
                        <option>All</option>
                        <option>John Wayne</option>
                        <option>Clint Eastwood</option>
                        <option>Roman Abramovich</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label">Status</label>
                <div class="col-md-8">
                    <select class="form-control">
                        <option>All</option>
                        <option>Done</option>
                        <option>Parked</option>
                        <option>In progress</option>
                        <option>New</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 responsiveGrid">
        <table class="table table-hover table-striped" id="tableTasks">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Person</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Satus</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var task in Model)
                {
                    <tr data-url="@Url.Action("Details", "Tasks")">
                        <td data-title="Title">@task.Name</td>
                        <td data-title="Person">@task.Person</td>
                        <td data-title="Start Date">@task.StartDate.ToString("MM/dd/yyyy")</td>
                        <td data-title="End Date">@task.EndDate.ToString("MM/dd/yyyy")</td>
                        @if (task.Status == TaskStatus.New)
                        { <td data-title="Status"><i class="fa fa-plus"></i> New</td> }
                        @if (task.Status == TaskStatus.InProgress)
                        { <td data-title="Status"><i class="fa fa-refresh"></i> In Progress</td> }
                        @if (task.Status == TaskStatus.Done)
                        { <td data-title="Status"><i class="fa fa-check"></i> Done</td> }
                    </tr>
                }
            </tbody>
        </table>
        <hr>
    </div>
</div>
