@{
    ViewBag.Title = "Tasks";
}

@section PageButtons {
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 pull-right">
            <a href="#" class="btn btn-primary form-control">Create Task</a>
        </div>
    </div>
}

<div class="row">
    <div class="form-horizontal">
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label">Asignee</label>
                <div class="col-md-8">
                    <select class="form-control">
                        <option>All</option>
                        <option>John Wayne</option>
                        <option>Clint Eastwood</option>
                        <option>Roman Abramovich</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label">Status</label>
                <div class="col-md-8">
                    <select class="form-control">
                        <option>All</option>
                        <option>Done</option>
                        <option>Parked</option>
                        <option>In progress</option>
                        <option>New</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover" id="tableTasks">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Person</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Satus</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="@Url.Action("Details", "Tasks")">Task1</a></td>
                    <td>Roman Abramovich</td>
                    <td>20/8/2013</td>
                    <td>21/8/2014</td>
                    <td>Done</td>
                </tr>
                <tr>
                    <td><a href="@Url.Action("Details", "Tasks")">Task2</a></td>
                    <td>John Wayne</td>
                    <td>20/9/2013</td>
                    <td>21/9/2014</td>
                    <td>In progress</td>
                </tr>
                <tr>
                    <td><a href="@Url.Action("Details", "Tasks")">Task3</a></td>
                    <td>Clint Eastwood</td>
                    <td>20/10/2013</td>
                    <td>21/10/2014</td>
                    <td>Parked</td>
                </tr>
                <tr>
                    <td><a href="@Url.Action("Details", "Tasks")">Task4</a></td>
                    <td>...</td>
                    <td>20/11/2013</td>
                    <td>21/11/2014</td>
                    <td>New</td>
                </tr>
                <tr>
                    <td><a href="@Url.Action("Details", "Tasks")">Task5</a></td>
                    <td>...</td>
                    <td>20/11/2013</td>
                    <td>21/11/2014</td>
                    <td>New</td>
                </tr>
                <tr>
                    <td><a href="@Url.Action("Details", "Tasks")">Task6</a></td>
                    <td>Clint Eastwood</td>
                    <td>20/10/2013</td>
                    <td>21/10/2014</td>
                    <td>In progress</td>
                </tr>
            </tbody>
        </table>
        <hr>
    </div>
</div>
