@using TEMPUS.WebSite.Models.Project
@{
    ViewBag.Title = "Task page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-header">
    <h1>Tasks</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="responsiblePerson" class="control-label">Responsible person</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="...">
                    <div class="input-group-btn">
                        <button id="responsiblePerson" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">All</a></li>
                            <li class="divider"></li>
                            <li><a href="#">John Wayne</a></li>
                            <li><a href="#">Clint Eastwood</a></li>
                            <li><a href="#">Roman Abramovich</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="status" class="control-label">Status</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="...">
                    <div class="input-group-btn">
                        <button id="status" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">All</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Done</a></li>
                            <li><a href="#">Parked</a></li>
                            <li><a href="#">In progress</a></li>
                            <li><a href="#">New</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-md-offset-3 col-sm-6 col-xs-12 text-center">
            <button type="button" class="btn btn-primary">New task</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 responsiveGrid">
        <table class="table table-hover table-striped" id="tableTasks">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Person</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Satus</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var task in Model)
                {
                    <tr data-url="@Url.Action("Details", "Tasks")">
                        <td data-title="Title">@task.Name</td>
                        <td data-title="Person">@task.Person</td>
                        <td data-title="Start Date">@task.StartDate.ToString("MM/dd/yyyy")</td>
                        <td data-title="End Date">@task.EndDate.ToString("MM/dd/yyyy")</td>
                        @if (task.Status == TaskStatus.New)
                        { <td data-title="Status"><i class="fa fa-plus"></i> New</td> }
                        @if (task.Status == TaskStatus.InProgress)
                        { <td data-title="Status"><i class="fa fa-refresh"></i> In Progress</td> }
                        @if (task.Status == TaskStatus.Done)
                        { <td data-title="Status"><i class="fa fa-check"></i> Done</td> }
                    </tr>
                }
            </tbody>
        </table>
        <hr>
    </div>
</div>


