@model List<TEMPUS.WebSite.Models.Team.UserViewModel>

@{
    ViewBag.Title = "Team";
    string jsonUrl = Url.Content("~/Content/test-mood-data.json");
}
<script type="text/javascript">
    jQuery(function ($) {
        $('.element').responsiveEqualHeightGrid();
    });
</script>

<script src="@Url.Content("~/Scripts/grids.js")"></script>
<script src="@Url.Content("~/Scripts/Team.js")"></script>
<script src="@Url.Content("~/Scripts/Lib/d3.v3.min.js")"></script>
<script src="@Url.Content("~/Scripts/Lib/c3.min.js")"></script>
<script src="@Url.Content("~/Scripts/moodCharts.js")"></script>
<link rel="stylesheet" href="@Url.Content("~/Content/Lib/Styles/c3.css")">
<link rel="stylesheet" href="@Url.Content("~/Content/Lib/Styles/tipsy.css")">
<link rel="stylesheet" href="@Url.Content("~/Content/Styles/moodCharts.css")">

<div class="page-header">
    <h1>Team</h1>
</div>

<div class="row wrapper">
    @foreach (var item in Model)
    {
        <div class="col-md-2 col-sm-3 team-member-block element">
            <div class="row">
                <a href="@Url.Action("Profile", "Account")">
                    <div class="col-xs-4 col-sm-12">
                        <img src="@Url.Content(item.Image)" class="img-thumbnail img-responsive img-link">
                    </div>
                </a>
                <div class="col-xs-8 col-sm-12">
                    <p class="team-member-name">
                        @item.LastName @item.FirstName
                    </p>
                    <p>
                        @item.Role
                    </p>
                </div>
            </div>
        </div>
    }
</div>
<div class="panel panel-default">
    <div class="panel-heading">Mood by days</div>
    <div class="panel-body">
        <div id="chart"></div>
    </div>
    <div class="panel-footer">
        <span class="text-muted">1  - very sad, 2 - not ok, 3 - good, 4 - awesome</span>
    </div>
</div>
<script>
    //wait for 100ms before trigging the redrawing of the chart
    $(window).resize(function () {
        if (this.resizeTO) clearTimeout(this.resizeTO);
        this.resizeTO = setTimeout(function () {
            $(this).trigger('resizeEnd');
        }, 100);

    });
    var width = $(window).width();
    //redraw chart when window resize is completed
    $(window).on('resizeEnd', function () {
        if ($(window).width() == width) return;
        width = $(window).width();  
    });
    $(document).ready(function () {
        c3DrawMoodChart("@jsonUrl");
    });
</script>
