@using TEMPUS.UserDomain.Model.ServiceLayer
@using TEMPUS.WebSite.Security

@model TEMPUS.WebSite.Models.Team.TeamViewModel

@{
    ViewBag.Title = "Team";
    string jsonUrl = Url.Action("GetTeamMoods", "Team", new { ProjectId = Model.projectId.Id});
}

@section CustomCss {
    <link rel="stylesheet" href="@Url.Content("~/Content/Lib/Styles/c3.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/Styles/Team.css")">
}

@section CustomJs {
    <script src="@Url.Content("~/Scripts/grids.js")"></script>
    <script src="@Url.Content("~/Scripts/Team.js")"></script>
    <script src="@Url.Content("~/Scripts/Lib/d3.v3.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Lib/c3.min.js")"></script>
    <script src="@Url.Content("~/Scripts/moodCharts.js")"></script>
}

<script type="text/javascript">
    jQuery(function ($) {
        $('.element').responsiveEqualHeightGrid();
    });
</script>

<div class="row wrapper">
    @foreach (var item in Model.users)
    {
        <div class="col-md-2 col-sm-3 team-member-block element">
            <div class="row">
                <a href="@Url.Action("Profile", "Account", item.UserId)">
                    <div class="col-xs-4 col-sm-12">
                        <img src="@Url.Content(item.Image)" class="img-thumbnail img-responsive img-link">
                    </div>
                </a>
                <div class="col-xs-8 col-sm-12">
                    <p class="team-member-name">
                        @item.LastName @item.FirstName
                    </p>
                    <p>
                        @item.Role
                    </p>
                </div>
            </div>
        </div>
    }
</div>
@if (SiteSecurity.UserInRole(UserRole.ProjectManager))
{
    <div>
        <h3 class="text-center">Mood by days</h3>
        <div id="chart"></div>
    </div>
    <script>
        $(document).ready(function () {
            c3DrawMoodChart("@jsonUrl");
    });
    </script>
}

