@{
    ViewBag.Title = "Team";
}
<script type="text/javascript">
    jQuery(function ($) {
        $('.element').responsiveEqualHeightGrid();
    });
</script>

<script src="@Url.Content("~/Scripts/grids.js")"></script>


<div class="panel panel-default">
    <div class="panel-heading">Team</div>
    <div class="panel-body">
        <div class="row wrapper">
            @foreach (var item in Model)
            {
                <div class="col-md-2 col-sm-3 team-member-block element">
                    <div class="row">
                        <a href="@Url.Action("Index", "User")">
                            <div class="col-xs-4 col-sm-12">
                                <img src="@Url.Content(item.Image)" class="img-thumbnail img-responsive img-link">
                            </div>
                        </a>
                        <div class="col-xs-8 col-sm-12">
                            <p class="team-member-name">
                                @item.LastName @item.FirstName
                            </p>
                            <p>
                                @item.Role
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
