@{
    ViewBag.Title = "Team";
}
<script type="text/javascript">
	jQuery(function($) {
		$('.element').responsiveEqualHeightGrid();	
	});
</script>

<script src="@Url.Content("~/Scripts/grids.js")"></script>


<div class="panel panel-default">
    <div class="panel-heading">Team</div>
    <div class="panel-body">
        <div class="row wrapper">
            <div class="col-md-2 col-sm-3 team-member-block element">
                <div class="row">
                    <div class="col-xs-4 col-sm-12">
                        <img src="@Url.Content("~/Content/images/user.png")" class="img-thumbnail img-responsive">
                    </div>
                    <div class="col-xs-8 col-sm-12">
                        <p class="team-member-name">
                            Shatovska Tetyana
                        </p>
                        <p>
                            Project Manager
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-3 team-member-block element">
                <div class="row">
                    <div class="col-xs-4 col-sm-12">
                        <img src="@Url.Content("~/Content/images/user.png")" class="img-thumbnail img-responsive">
                    </div>
                    <div class="col-xs-8 col-sm-12">
                        <p class="team-member-name">
                            Igor Lopushko
                        </p>
                        <p>
                            Tech lead
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-3 team-member-block element">
                <div class="row">
                    <div class="col-xs-4 col-sm-12">
                        <img src="@Url.Content("~/Content/images/user.png")" class="img-thumbnail img-responsive">
                    </div>
                    <div class="col-xs-8 col-sm-12">
                        <p class="team-member-name">
                            Yaroslav Admin
                        </p>
                        <p>
                            Developer
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-3 team-member-block element">
                <div class="row">
                    <div class="col-xs-4 col-sm-12">
                        <img src="@Url.Content("~/Content/images/user.png")" class="img-thumbnail img-responsive">
                    </div>
                    <div class="col-xs-8 col-sm-12">
                        <p class="team-member-name">
                            Anatolii Ovchinnikov
                        </p>
                        <p>
                            Developer
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-3 team-member-block element">
                <div class="row">
                    <div class="col-xs-4 col-sm-12">
                        <img src="@Url.Content("~/Content/images/user.png")" class="img-thumbnail img-responsive">
                    </div>
                    <div class="col-xs-8 col-sm-12">
                        <p class="team-member-name">
                            Alexandra Yugan
                        </p>
                        <p>
                            Developer
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-3 team-member-block element">
                <div class="row">
                    <div class="col-xs-4 col-sm-12">
                        <img src="@Url.Content("~/Content/images/user.png")" class="img-thumbnail img-responsive">
                    </div>
                    <div class="col-xs-8 col-sm-12">
                        <p class="team-member-name">
                            Alexander Zayac
                        </p>
                        <p>
                            Developer
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-3 team-member-block element">
                <div class="row">
                    <div class="col-xs-4 col-sm-12">
                        <img src="@Url.Content("~/Content/images/user.png")" class="img-thumbnail img-responsive">
                    </div>
                    <div class="col-xs-8 col-sm-12">
                        <p class="team-member-name">
                            Volkov Dmitriy
                        </p>
                        <p>
                            Developer
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>