@model List<TEMPUS.WebSite.Models.Team.UserViewModel>

@{
    ViewBag.Title = "Team";
    string jsonUrl = Url.Content("~/Content/test-mood-data.json");
}

<script type="text/javascript">
    jQuery(function ($) {
        $('.element').responsiveEqualHeightGrid();
    });
</script>

<script src="@Url.Content("~/Scripts/grids.js")"></script>
<script src="@Url.Content("~/Scripts/Team.js")"></script>
<script src="@Url.Content("~/Scripts/Lib/d3.v3.min.js")"></script>
<script src="@Url.Content("~/Scripts/Lib/c3.min.js")"></script>
<script src="@Url.Content("~/Scripts/moodCharts.js")"></script>
<link rel="stylesheet" href="@Url.Content("~/Content/Lib/Styles/c3.css")">
<link rel="stylesheet" href="@Url.Content("~/Content/Styles/Team.css")" />

<div class="row wrapper">
    @foreach (var item in Model)
    {
        <div class="col-md-2 col-sm-3 team-member-block element">
            <div class="row">
                <a href="@Url.Action("Profile", "Account")">
                    <div class="col-xs-4 col-sm-12">
                        <img src="@Url.Content(item.Image)" class="img-thumbnail img-responsive img-link">
                    </div>
                </a>
                <div class="col-xs-8 col-sm-12">
                    <p class="team-member-name">
                        @item.LastName @item.FirstName
                    </p>
                    <p>
                        @item.Role
                    </p>
                </div>
            </div>
        </div>
    }
</div>
<div>
    <h3 class="text-center">Mood by days</h3>
    <div id="chart"></div>
    <p class="well text-center">1  - very sad, 2 - not ok, 3 - good, 4 - awesome</p>
</div>
<script>
    $(document).ready(function () {
        c3DrawMoodChart("@jsonUrl");
    });
</script>
