@model TEMPUS.WebSite.Models.Account.ProfileViewModel

@{
    ViewBag.Title = "Edit your profile";
}

@section CustomCss {
    <link rel="stylesheet" href="@Url.Content("~/Content/Styles/MobileButton.css")">
}

@using (Html.BeginForm("Profile", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="carousel-inner">
        <div class="item active">
            <div class="container">
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-4">
                            <div class="form-group has-error" align="center">
                                <label class="control-label">
                                    <p>@Html.ValidationMessageFor(model => model.FirstName)</p>
                                    <p>@Html.ValidationMessageFor(model => model.LastName)</p>
                                    <p>@Html.ValidationMessageFor(model => model.Phone)</p>
                                    <p>@Html.ValidationMessageFor(model => model.DateOfBirth)</p>
                                    @if (ViewData.ModelState["Error"] != null)
                                    {
                                        if (ViewData.ModelState["Error"].Errors[0] != null)
                                        {
                                        <p>@ViewData.ModelState["Error"].Errors[0].ErrorMessage</p>
                                        }
                                    }
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="FirstName" class="col-sm-3 control-label">First name</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.FirstName, new { @Value = TEMPUS.WebSite.Contexts.UserContext.Current.FirstName ?? "", @class = "form-control", id = "firstname", placeholder = "First name" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="LastName" class="col-sm-3 control-label">Last name</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.LastName, new { @Value = TEMPUS.WebSite.Contexts.UserContext.Current.LastName ?? "", @class = "form-control", id = "lastname", placeholder = "Last name" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Phone" class="col-sm-3 control-label">Phone</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.Phone, new { @Value = TEMPUS.WebSite.Contexts.UserContext.Current.Phone ?? "", @class = "form-control", id = "phone", placeholder = "phone" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="DateOfBirth" class="col-sm-3 control-label">Date of birth</label>
                        <div class="col-sm-4">
                            <div class='input-group date' id='date_of_birth' role="datepicker">
                                @Html.TextBoxFor(model => model.DateOfBirth, new
                           {
                               @Value = TEMPUS.WebSite.Contexts.UserContext.Current.DateOfBirth.Date.ToString("MM'/'dd'/'yyyy"),
                               @class = "form-control",
                               placeholder = "Date of birth"
                           })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <script type="text/javascript">
                            $(function () {
                                $('#date_of_birth').datetimepicker({
                                    pickTime: false
                                });
                            });
                        </script>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-4">
                            <input class="btn btn-primary next" value="Edit" type="submit" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
