@model TEMPUS.WebSite.Models.Account.LoginViewModel

<div class="page-header">
    <h1>Log in</h1>
</div>

@using (Html.BeginForm("LogIn", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="carousel-inner">
        <div class="item active">
            <div class="container">
                <div class="row">
                    <div class="form-group">
                        <label for="Email" class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.Login, new { @class = "form-control", id = "email", placeholder = "Email" })
                            @Html.ValidationMessageFor(model => model.Login)
                            @Html.ValidationMessageFor(model => model.Login)
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Password" class="col-sm-3 control-label">Password</label>
                        <div class="col-sm-4">
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control", id = "password", placeholder = "Password" })
                            @Html.ValidationMessageFor(model => model.Password)
                            @Html.ValidationMessageFor(model => model.Password)
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mandatory" class="col-sm-3 control-label">Remember me</label>
                        <div class="col-sm-4">
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(model => model.RememberMe, new { id = "mandatory" })
                                    @Html.ValidationMessageFor(model => model.RememberMe)
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">@Html.ActionLink("Sign Up", "Register", "Account")</label>
                        <div class="col-sm-4">
                            <input class="btn btn-primary next" value="Log In" type="submit" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}