@model TEMPUS.WebSite.Models.Account.ProfileViewModel

@{
    ViewBag.Title = "Profile";
    ViewBag.PageTitle = Model.FirstName + " " + Model.LastName + ", " + Model.Role;
}

@section CustomCss {
    <link rel="stylesheet" href="@Url.Content("~/Content/Styles/Profile.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/Styles/UserPage.css")">
}

@section CustomJs {
    <script src="~/Scripts/Lib/Chart.js"></script>
    <script src="~/Scripts/UserPage.js"></script>
    <script src="~/Scripts/Lib/jquery.ddslick.min.js"></script>
    <script src="~/Scripts/Profile.js"></script>
}

<script>
    $(document).ready(function (ev) {
        setMood(@Model.Mood);
    });
</script>

<div class="row">
    <div class="col-sm-4 col-md-3 text-center">
        <img id="avatar" src="@Url.Content(@Model.Image)" class="img-thumbnail img-responsive" />
        <div class="text-center">
            <a href="@Url.Action("Index", "Team")" class="btn btn-default hidden-xs back-button">
                <span class="glyphicon glyphicon-chevron-left"></span>Back
            </a>
        </div>
    </div>

    <div class="col-sm-8 col-md-9">
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="list-inline" id="ul-chooser">
                    <li>
                        <img src="~/Content/Images/1_mood.png" class="img-responsive" id="mood-1" />
                    </li>
                    <li>
                        <img src="~/Content/Images/2_mood.png" class="img-responsive" id="mood-2" />
                    </li>
                    <li>
                        <img src="~/Content/Images/3_mood.png" class="img-responsive" id="mood-3" />
                    </li>
                    <li>
                        <img src="~/Content/Images/4_mood.png" class="img-responsive" id="mood-4" />
                    </li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                <p>Mood: </p>
                <p>Date of birth:</p>
                <p>Email:</p>
                <p>Phone:</p>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <p>
                    <img src="" class="img-responsive" id="mood-img" />
                </p>
                <p>@Model.DateOfBirth.ToShortDateString()</p>
                <p>@Model.Email</p>
                <p>@Model.Phone</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-4 col-xs-offset-4">
        <a href="@Url.Action("Index", "Team")" class="btn btn-default visible-xs">
            <span class="glyphicon glyphicon-chevron-left"></span>Back
        </a>
    </div>
</div>

