@using TEMPUS.WebSite.Models.TimeRecord
@model TimeRecordsListViewModel
@{
    ViewBag.Title = "Time Records";
}

@section CustomJs {
    <script src="@Url.Content("~/Scripts/TimeReport.js")"></script>
}

@section PageButtons {
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-7 col-xs-12 pull-right">
            <a href="#timeSheetModal" data-toggle="modal" class="btn btn-primary form-control">
                <span class="fa fa-plus"></span>&nbsp;Create Time Record
            </a>
        </div>
    </div>
}
@using (Html.BeginForm())
{
    <div class="row">
        <div class="form-horizontal">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="project" class="col-md-4 control-label">Project</label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.SelectedProject, Model.Projects, null, new { @class = "form-control", id = "project" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="status" class="col-md-4 control-label">Status</label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.SelectedStatus, Model.Statuses, null, new { @class = "form-control", id = "status" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="person" class="col-md-4 control-label">Person</label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.SelectedPerson, Model.People, null, new { @class = "form-control", id = "status" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="date" class="col-md-4 control-label">Start date</label>
                    <div class="col-md-8">
                        <div class='input-group date' id='startDate' role="datepicker">
                            @Html.TextBoxFor(model => model.SelectedStartDate, Model.SelectedStartDate.ToString("MM/dd/yyyy"), new { @class = "form-control", placeholder = "Start date", @readonly = "" })
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="date" class="col-md-4 control-label">End date</label>
                    <div class="col-md-8">
                        <div class='input-group date' id='endDate' role="datepicker">
                            @Html.TextBoxFor(model => model.SelectedEndDate, Model.SelectedEndDate.ToString("MM/dd/yyyy"), new { @class = "form-control", placeholder = "End date", @readonly = "" })
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="button" class="col-md-4 control-label"></label>
                    <div class="col-md-8">
                        <input type="submit" class="btn btn-primary form-control" value="Show" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("Notify", "TimeReport", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            <table class="responsiveGrid table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Project</th>
                        <th>Person</th>
                        <th>Description</th>
                        <th>Effort (hours)</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th colspan="2">Status</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Records.Count(); i++)
                    {
                        var trClass = String.Empty;
                        if (Model.Records[i].Status == TimeRecordStatus.Accepted)
                        {
                            trClass = "success";
                        }

                        if (Model.Records[i].Status == TimeRecordStatus.Notified)
                        {
                            trClass = "warning";
                        }

                        if (Model.Records[i].Status == TimeRecordStatus.Declined)
                        {
                            trClass = "danger";
                        }

                        <tr class="@trClass">
                            @Html.Hidden("NotifiedTimeRecordViewModel[" + i + "].TimeRecordId", Model.Records[i].TimeRecordId)
                            @if (Model.Records[i].Status == TimeRecordStatus.Open)
                            {
                                <td data-title="Edit">
                                    <a href="#timeEditModal" data-toggle="modal" title="Edit"><i class="fa fa-pencil"></i></a>
                                </td>
                                <td data-title="Remove">
                                    <a href="#timeDeleteModal" class="deleteTimeRecord" data-toggle="modal" data-id="@Model.Records[i].TimeRecordId" title="Remove"><i class="fa fa-trash-o"></i></a>
                                </td>
                                <td data-title="Notify">
                                    @Html.CheckBox("NotifiedTimeRecordViewModel[" + i + "].IsNotified")
                                </td>
                            }
                            else
                            {
                                <td></td>
                                <td></td>
                                <td></td>
                            }
                            <td data-title="Project">@Model.Records[i].Project.Name</td>
                            <td data-title="Person">@Model.User.FirstName @Model.User.LastName</td>
                            <td data-title="Description">@Model.Records[i].Description</td>
                            <td data-title="Effort (hours)">@Model.Records[i].Effort</td>
                            <td data-title="Start date">@Model.Records[i].StartDate.ToString("MM/dd/yyyy")</td>
                            <td data-title="End date">@Model.Records[i].EndDate.ToString("MM/dd/yyyy")</td>
                            @if (Model.Records[i].Status == TimeRecordStatus.Notified && Model.IsProjectManager)
                            {
                                <td data-title="Accept">
                                    <a href="@Url.Action("Accept", new { id = Model.Records[i].TimeRecordId })" title="Accept"><i class="fa fa-check"></i></a>
                                </td>
                                <td data-title="Decline">
                                    <a href="@Url.Action("Decline", new { id = Model.Records[i].TimeRecordId })" title="Decline"><i class="fa fa-ban"></i></a>
                                </td>
                            }
                            else
                            {
                                <td data-title="Status" colspan="2">@Model.Records[i].Status</td>
                            }
                        </tr>
                    }
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Total value</td>
                        <td></td>
                        <td></td>
                        <td data-title="Total value">@Model.Records.Sum(x => x.Effort)</td>
                        <td></td>
                        <td></td>
                        <td colspan="2"></td>

                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="form-horizontal">
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="col-md-8">
                                <input type="submit" class="btn btn-primary form-control" value="Notify selected" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@using (Html.BeginForm("Create", "TimeReport", FormMethod.Post))
{
    <div class="modal fade" id="timeSheetModal" tabindex="-1" role="dialog" aria-labelledby="timeSheetModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="timeSheetModalLabel">Create Time Record</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="project" class="col-md-3 control-label">Project</label>
                            <div class="col-md-9">
                                @Html.DropDownList("model.Project.ProjectId", Model.Projects, null, new { @class = "form-control", id = "project" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-md-3 control-label">Description</label>
                            <div class="col-md-9">
                                @Html.TextArea("model.Description", null, new { @class = "form-control", id = "project" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="startDate" class="col-sm-3 control-label">Start date</label>
                            <div class="col-sm-9">
                                <div class="input-group" role="datepicker">
                                    @Html.TextBox("model.StartDate", null, new { @class = "form-control", placeholder = "Start date", @readonly = "" })
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="endDate" class="col-sm-3 control-label">End date</label>
                            <div class="col-sm-9">
                                <div class="input-group" role="datepicker">
                                    @Html.TextBox("model.EndDate", null, new { @class = "form-control", placeholder = "End date", @readonly = "" })
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="effort" class="col-sm-3 control-label">Effort</label>
                            <div class="col-sm-9">
                                @Html.TextBox("model.Effort", null, new { @class = "form-control", placeholder = "Hours" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Create" />
                </div>
            </div>
        </div>
    </div>
}


<div class="modal fade" id="timeDeleteModal" tabindex="-1" role="dialog" aria-labelledby="timeDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="timeSheetModalLabel">Delete Time Record</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-9">
                            You are going to delete time record. Are you sure?
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a href="#" id="deleteBtn" class="btn btn-default">Delete</a>
            </div>
        </div>
    </div>
</div>
