@{
    ViewBag.Title = "Time Records";
}

<div class="page-header">
    <h1>Time Records</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <form action="@Url.Action("Index", "TimeReport")" method="get">
            <div class="row">
                <div class="form-group col-md-3">
                    <label for="user" class="sr-only">Person</label>
                    <select class="form-control" id="user">
                        <option>Person</option>
                        <option>Aleksander Zayats</option>
                        <option>Dmitriy Volkov</option>
                        <option>John Doe</option>
                        <option>Yaroslav Admin</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="project" class="sr-only">Project</label>
                    <select class="form-control" id="project">
                        <option>Project</option>
                        <option>TEMPUS</option>
                        <option>Happy Project</option>
                        <option>Lucky Project</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="status" class="sr-only">Status</label>
                    <select class="form-control" id="status">
                        <option>Status</option>
                        <option>New</option>
                        <option>In Progress</option>
                        <option>Done</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label for="start_date" class="sr-only">Start Date</label>
                    <div class='input-group date' id='start_date' role="datepicker">
                        <input type='text' class="form-control" placeholder="Start Date" />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label for="end_date" class="sr-only">End Date</label>
                    <div class='input-group date' id='end_date' role="datepicker">
                        <input type='text' class="form-control" placeholder="End Date" />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <button type="button" class="btn btn-primary">Show</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Project</th>
                    <th>Task</th>
                    <th>Person</th>
                    <th>Effort (hours)</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var record in Model)
                {        
                    <tr>
                        <td>@record.Project.Name</td>
                        <td>@if (record.Task != null) { @record.Task.Name }</td>
                        <td>@record.User.FirstName @record.User.LastName</td>
                        <td>@record.Hours</td>
                        <td>@record.StartDate.ToString("MM/dd/yyyy")</td>
                        <td>@record.EndDate.ToString("MM/dd/yyyy")</td>
                        <td>@record.Description</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
