@model TEMPUS.WebSite.Models.TimeRecord.TimeRecordsListViewModel
@{
    ViewBag.Title = "Time Records";
}

@section PageButtons {
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-7 col-xs-12 pull-right">
            <a href="#timeSheetModal" data-toggle="modal" class="btn btn-primary form-control">
                <span class="fa fa-plus"></span>&nbsp;Create Time Record
            </a>
        </div>
    </div>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="row">
        <div class="form-horizontal">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="project" class="col-md-4 control-label">Project</label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.SelectedProject, Model.Projects, null, new { @class = "form-control", id = "project" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="status" class="col-md-4 control-label">Status</label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.SelectedStatus, Model.Statuses, null, new { @class = "form-control", id = "status" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="date" class="col-md-4 control-label">Start date</label>
                    <div class="col-md-8">
                        <div class='input-group date' id='startDate' role="datepicker">
                            @Html.TextBoxFor(model => model.SelectedStartDate, Model.SelectedStartDate.ToString("MM/dd/yyyy"), new { @class = "form-control", placeholder = "Start date" })
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="date" class="col-md-4 control-label">End date</label>
                    <div class="col-md-8">
                        <div class='input-group date' id='endDate' role="datepicker">
                            @Html.TextBoxFor(model => model.SelectedEndDate, Model.SelectedEndDate.ToString("MM/dd/yyyy"), new { @class = "form-control", placeholder = "End date" })
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="date" class="col-md-4 control-label"></label>
                    <div class="col-md-8">
                        <input type="submit" class="btn btn-primary form-control" value="Show" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="responsiveGrid table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Project</th>
                        <th>Person</th>
                        <th>Description</th>
                        <th>Effort (hours)</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var record in Model.Records)
                    {
                        <tr>
                            <td data-title="Project">@record.Project.Name</td>
                            <td data-title="Person">@Model.User.FirstName @Model.User.LastName</td>
                            <td data-title="Description">@record.Description</td>
                            <td data-title="Effort (hours)">@record.Effort</td>
                            <td data-title="Start date">@record.StartDate.ToString("MM/dd/yyyy")</td>
                            <td data-title="End date">@record.EndDate.ToString("MM/dd/yyyy")</td>
                            <td data-title="Status">@record.Status</td>
                        </tr>
                    }
                    <tr>
                        <td>Total value</td>
                        <td></td>
                        <td></td>
                        <td>@Model.Records.Sum(x => x.Effort)</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="timeSheetModal" tabindex="-1" role="dialog" aria-labelledby="timeSheetModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="timeSheetModalLabel">Create Time Record</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="project" class="col-md-3 control-label">Project</label>
                            <div class="col-md-9">
                                @Html.DropDownListFor(model => model.NewTimeRecord.Project.ProjectId, Model.Projects, null, new { @class = "form-control", id = "project" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-md-3 control-label">Description</label>
                            <div class="col-md-9">
                                @Html.TextAreaFor(model => model.NewTimeRecord.Description, new { @class = "form-control", id = "project" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="date_" class="col-sm-3 control-label">Start date</label>
                            <div class="col-sm-9">
                                <div class="input-group" role="datepicker">
                                    @Html.TextBoxFor(model => model.NewTimeRecord.StartDate, new { @class = "form-control", placeholder = "Start date" })
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="date_" class="col-sm-3 control-label">End date</label>
                            <div class="col-sm-9">
                                <div class="input-group" role="datepicker">
                                    @Html.TextBoxFor(model => model.NewTimeRecord.EndDate, new { @class = "form-control", placeholder = "End date" })
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Effort</label>
                            <div class="col-sm-9">
                                @Html.TextAreaFor(model => model.NewTimeRecord.Effort, new { @class = "form-control", placeholder = "Hours" })
                                @Html.ValidationMessageFor(model => model.NewTimeRecord.Effort)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Create" />
                </div>
            </div>
        </div>
    </div>
}