@model TEMPUS.WebSite.Models.Project.CreateProjectViewModel
﻿@{
    ViewBag.Title = "Create Project";
}

@section CustomJs {
    <script src="@Url.Content("~/Scripts/Projects.js")"></script>
}

@section CustomCss {
    <link rel="stylesheet" href="@Url.Content("~/Content/Styles/MobileButton.css")">
}

<div id="create-carusel" class="carousel slide" data-interval="false" data-ride="carousel">
    <div class="controls">
        <ul class="nav">
            <li data-target="#create-carusel" class="active">
                <div class="step">1</div>
                <small>Step One</small></li>
            <li data-target="#create-carusel">
                <div class="step">2</div>
                <small>Step Two</small></li>
            <li data-target="#create-carusel">
                <div class="step">3</div>
                <small>Step Three</small></li>
            <li data-target="#create-carusel">
                <div class="step">4</div>
                <small>Step Four</small></li>
        </ul>
    </div>
    <!-- Wrapper for slides -->
    @using (Html.BeginForm("Create", "Projects", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-4">
                                <div class="form-group has-error" align="center">
                                    <label class="control-label">
                                        <p>@Html.ValidationMessageFor(model => model.ProjectMainInfo.Name)</p>
                                        <p>@Html.ValidationMessageFor(model => model.ProjectMainInfo.Orderer)</p>
                                        <p>@Html.ValidationMessageFor(model => model.ProjectMainInfo.RecievingOrganization)</p>
                                        <p>@Html.ValidationMessageFor(model => model.ProjectMainInfo.StartDate)</p>
                                        <p>@Html.ValidationMessageFor(model => model.ProjectMainInfo.EndDate)</p>
                                        <p>@Html.ValidationMessageFor(model => model.ProjectMainInfo.Quality)</p>
                                        <p>@Html.ValidationMessageFor(model => model.ProjectMainInfo.Time)</p>
                                        <p>@Html.ValidationMessageFor(model => model.ProjectMainInfo.Cost)</p>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="projectName" class="col-sm-3 control-label">Project Name</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.ProjectMainInfo.Name, new { @class = "form-control", id = "projectName", placeholder = "Project Name" })
                            </div>
                            <div class="col-sm-4">
                                <span class="help-block" id="projectNameError"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="projectManager" class="col-sm-3 control-label">Project Manager</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.ProjectMainInfo.ManagerId, Model.ProjectMainInfo.Managers, null, new { @class = "form-control selectpicker", id = "projectManager", data_live_search = "true" })
                            </div>
                            <div class="col-sm-4">
                                <span class="help-block" id="projectManagerError"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="projectOwner" class="col-sm-3 control-label">Project Owner</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.ProjectMainInfo.OwnerId, Model.ProjectMainInfo.Owners, null, new { @class = "form-control selectpicker", id = "projectOwner", data_live_search = "true" })
                            </div>
                            <div class="col-sm-4">
                                <span class="help-block" id="projectOwnerError"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="department" class="col-sm-3 control-label">Department</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.ProjectMainInfo.DepartmentId, Model.ProjectMainInfo.Departments, null, new { @class = "form-control", id = "department", data_live_search = "true" })
                            </div>
                            <div class="col-sm-4">
                                <span class="help-block" id="departmentError"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="time" class="col-sm-3 control-label">Time</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.ProjectMainInfo.Time, new { @class = "form-control", id = "time", placeholder = "Time" })
                            </div>
                            <div class="col-sm-4">
                                <span class="help-block" id="timeError"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cost" class="col-sm-3 control-label">Cost</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.ProjectMainInfo.Cost, new { @class = "form-control", id = "cost", placeholder = "Cost" })
                            </div>
                            <div class="col-sm-4">
                                <span class="help-block" id="costError"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="quality" class="col-sm-3 control-label">Quality</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.ProjectMainInfo.Quality, new { @class = "form-control", id = "quality", placeholder = "Quality" })
                            </div>
                            <div class="col-sm-4">
                                <span class="help-block" id="qualityError"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="orderer" class="col-sm-3 control-label">Orderer</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.ProjectMainInfo.Orderer, new { @class = "form-control", id = "orderer", placeholder = "Orderer" })
                            </div>
                            <div class="col-sm-4">
                                <span class="help-block" id="ordererError"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="classification" class="col-sm-3 control-label">PPS Classification</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.ProjectMainInfo.PpsClassificationId, Model.ProjectMainInfo.PpsClassifications, null, new { @class = "form-control", id = "classification" })
                            </div>
                            <div class="col-sm-4">
                                <span class="help-block" id="classificationError"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mandatory" class="col-sm-3 control-label">Mandatory</label>
                            <div class="col-sm-4">
                                @Html.CheckBoxFor(model => model.ProjectMainInfo.Mandatory, new { @class = "checkbox", id = "mandatory" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="organisation" class="col-sm-3 control-label">Receiving organisation</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.ProjectMainInfo.RecievingOrganization, new { @class = "form-control", id = "organisation", placeholder = "Receiving organisation" })
                            </div>
                            <div class="col-sm-4">
                                <span class="help-block" id="organisationError"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="start" class="col-sm-3 control-label">Start Date</label>
                            <div class="col-sm-4">
                                <div class='input-group date' id='start_date' role="datepicker">
                                    @Html.TextBoxFor(model => model.ProjectMainInfo.StartDate, new { @class = "form-control", @Value = "", id = "start", placeholder = "Start Date" })
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <span class="help-block" id="startError"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="due" class="col-sm-3 control-label">Due Date</label>
                            <div class="col-sm-4">
                                <div class='input-group date' id='end_date' role="datepicker">
                                    @Html.TextBoxFor(model => model.ProjectMainInfo.EndDate, new { @class = "form-control", @Value = "", id = "due", placeholder = "Due Date" })
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <span class="help-block" id="dueError"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="description" class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-4">
                                @Html.TextAreaFor(model => model.ProjectMainInfo.Description, new { @class = "form-control", id = "description", placeholder = "Description" })
                            </div>
                            <div class="col-sm-4">
                                <span class="help-block" id="descriptionError"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="step2" class="col-sm-3 control-label"></label>
                            <div class="col-sm-4">
                                <button type="button" onclick="validateStep1();" id="step0_next" class="btn btn-primary next">Next Step</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="row">
                        @*<div class="col-md-12">
                            <div class="input-group col-md-5">
                                <input type="text" class="form-control" placeholder="Search">
                                <div class="input-group-btn">
                                    <a class="btn btn-default"><i class="glyphicon glyphicon-search"></i></a>
                                </div>
                            </div>
                        </div>*@
                        <div class="col-md-12">
                            <h3>Search Results</h3>
                            <table class="table" id="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @Html.HiddenFor(x => Model.ProjectTeam.TeamMembers)
                                    @foreach (var person in Model.ProjectTeam.Users)
                                    {
                                        <tr>
                                            <td data-name="person.Name">@person.FirstName @person.LastName</td>
                                            <td>
                                                @Html.HiddenFor(x => person.UserId)
                                                <button type="button" onclick="addUser(this)" class="btn btn-success btn-sm glyphicon glyphicon-plus" />
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Project Team</h3>
                            <div class="h4" id="emptyMessage">There are no users in Team</div>
                            <div class="has-error">
                                <div id="errorMessage" class="help-block"></div>
                            </div>
                            <table class="table" hidden="hidden" id="resultTable">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>% of FTE</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <button data-target="#create-carusel" id="step1_prev" data-slide-to="0" class="btn btn-primary prev">Back</button>
                    <button type="button" onclick="validateStep2();" id="step1_next" class="btn btn-primary next">Next Step</button>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    @*<a class="btn btn-primary next" data-toggle="modal" data-target="#createRisk">Add New Risk</a>*@
                    <a class="btn btn-primary next">Add New Risk</a>
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <div class="h4">There are no risks in project</div>
                            @*<table class="responsiveGrid table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>№</th>
                                        <th>Description</th>
                                        <th>Type</th>
                                        <th>Probability</th>
                                        <th>Impact</th>
                                        <th>Proposed / Implemented response</th>
                                        <th>Status</th>
                                        <th>Responsible person</th>
                                        <th>Finish Date</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                   @{
                                        int i = 0;
                                    }
                                    @foreach (var risk in Model)
                                    {
                                        i++;
                                        <tr>
                                            <td data-title="№">@i</td>
                                            <td data-title="Description">@risk.Description</td>
                                            <td data-title="FinishDate">@risk.FinishDate.ToString("MM/dd/yyyy")</td>
                                            <td data-title="Person">@risk.Person</td>
                                            <td data-title="Probability">@risk.Probability</td>
                                            <td data-title="Response">@risk.Response</td>
                                            <td data-title="Status">@risk.Status</td>
                                            <td data-title="Type">@risk.Type</td>
                                            <td data-title="Impact">@risk.Impact</td>
                                            <td>
                                                <button type="button" class="editButton btn btn-sm btn-default glyphicon glyphicon-pencil" />
                                                <button type="button" class="removeButton btn btn-sm btn-default glyphicon glyphicon-remove" />
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>*@
                            <hr>
                        </div>
                    </div>
                </div>
                <button data-target="#create-carusel" id="step2_prev" data-slide-to="1" class="btn btn-primary prev">Back</button>
                <button data-target="#create-carusel" id="step2_next" data-slide-to="3" class="btn btn-primary next">Next Step</button>
            </div>
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="item">
                            <div class="container">
                                <div class="row">
                                    <div class="form-group">
                                        <label for="onetimeCosts" class="col-sm-3 control-label">Onetime costs</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="onetimeCosts" placeholder="Onetime costs" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="continuousCosts" class="col-sm-3 control-label">Continuous costs</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="continuousCosts" placeholder="Continuous costs" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="hours" class="col-sm-3 control-label">Resource hours</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="hours" placeholder="Resource hours" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="roi" class="col-sm-3 control-label">ROI</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="roi" placeholder="ROI" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="benefits" class="col-sm-3 control-label">Benefits description</label>
                                        <div class="col-sm-4">
                                            <textarea class="form-control" id="benefits" placeholder="Benefits"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="step2" class="col-sm-3 control-label"></label>
                                        <div class="col-sm-4">
                                            <button data-target="#create-carusel" id="step3_prev" data-slide-to="2" class="btn btn-primary prev">Back</button>
                                            <input data-target="#create-carusel" id="save" class="btn btn-primary next" type="submit" value="Done!" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Item -->
                    </div>
                    <!-- End Carousel Inner -->
                </div>
                <!-- End Carousel -->
                <div class="modal fade" id="createRisk" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Create Risk</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row-fluid">
                                    <div class="container-fluid">
                                        <div class="form-group row">
                                            <label for="projectName" class="col-sm-5 control-label">Description</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="description" placeholder="Description">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="projectManager" class="col-sm-5 control-label">Type</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="type" placeholder="Type">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="projectManager" class="col-sm-5 control-label">Probability</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="probability" placeholder="Probability">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="projectManager" class="col-sm-5 control-label">Impact</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="impact" placeholder="Impact">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="responsible" class="col-sm-5 control-label">Person responsible</label>
                                            <div class="col-sm-6">
                                                <select id="responsible" class="form-control">
                                                    <option>John Rooney</option>
                                                    <option>Dane Wallback</option>
                                                    <option>Diego Milito</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="responsible" class="col-sm-5 control-label">Date measure finished</label>
                                            <div class="col-sm-6">
                                                <input type="date" class="form-control" id="impact" placeholder="Impact">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    }
</div>
