@using TEMPUS.WebSite.Helpers
@using TEMPUS.WebSite.Models.Project

@{
    ViewBag.Title = "Projects";
}

@section CustomJs {
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
}

@section PageButtons {
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 pull-right">
            <a href="@Url.Action("Create", "Projects")" class="btn btn-primary form-control">Create Project</a>
        </div>
    </div>
}

<div class="row">
    <p />
    <div class="form-horizontal">
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label">Department:</label>
                <div class="col-md-8">
                    <select class="form-control">
                        <option>All</option>
                        <option>Department1</option>
                        <option>Department2</option>
                        <option>Department3</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label">Status:</label>
                <div class="col-md-8">
                    <select class="form-control">
                        <option>All</option>
                        <option>Red</option>
                        <option>Yellow</option>
                        <option>Green</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label">Progression:</label>
                <div class="col-md-8">
                    <select class="form-control">
                        <option>All</option>
                        <option>New</option>
                        <option>Planned</option>
                        <option>Running</option>
                        <option>Closed</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 responsiveGrid">
        <table class="table cf table-hover table-striped" id="projectList">
            <thead class="cf">
                <tr>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Start Date</th>
                    <th>Due Date</th>
                    <th>Manager</th>
                    <th>Department</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var project in Model)
                {
                    <tr data-url="@Url.Action("Details", "Projects")">
                        <td data-title="Title">@project.Name</td>
                        <td data-title="Status">
                            @if (project.Status == ProjectStatus.Green)
                            { <div class="statusForGrid greenStatus text-left"></div> }
                            @if (project.Status == ProjectStatus.Yellow)
                            { <div class="statusForGrid yellowStatus text-left"></div> }
                            @if (project.Status == ProjectStatus.Red)
                            { <div class="statusForGrid redStatus text-left"></div> }
                        </td>
                        <td data-title="Start Date">@project.StartDate.ToString("MM/dd/yyyy")</td>
                        <td data-title="Due Date">@project.EndDate.ToString("MM/dd/yyyy")</td>
                        <td data-title="Manager">@project.Manager</td>
                        <td data-title="Department">@project.Department</td>
                        <td data-title="Description">@project.Description</td>
                    </tr>
                }
            </tbody>
        </table>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">Status</div>
            <div class="panel-body">
                <div id="statusChart"></div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-heading">Budget</div>
            <div class="panel-body">
                <div id="budgetChart"></div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Projects.js"></script>
<script>
    google.load("visualization", "1", { packages: ["corechart"] });
    google.setOnLoadCallback(redrawCharts);
    $(document).ready(function () {
        $(window).resize(redrawCharts)
        redrawStatusChart();
        redrawBudgetChart();
    });
    $('table tr[data-url]').on('click', function () {
        location.href = $(this).data('url');
    });
</script>
