@model IEnumerable<TEMPUS.WebSite.Models.User.UserListViewModel>

@{
    ViewBag.Title = "Manage users";
}

<div class="col-md-12">
    <table class="table" id="table">
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Role</th>
                <th>Is deleted</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    @Html.HiddenFor(x => user.UserId)
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>
                        @Html.DropDownList("UserRole", user.UserRoles)
                    </td>
                    <td>
                        @Html.CheckBox("IsDeleted", user.IsDeleted)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="form-group">
        <div class="col-sm-4">
            <a href="@Url.Action("Register","Account")">
                <input class="btn btn-primary next" value="Register user" type="submit" />
            </a>
            <input class="btn btn-primary next" value="Save changes" type="submit" />
        </div>
    </div>
</div>