@using TEMPUS.WebSite.Contexts
@using TEMPUS.WebSite.Helpers

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="@Url.Content("~/Images/favicon.ico")">

    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/Lib/Styles/bootstrap.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/Lib/Styles/bootstrap-theme.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/Lib/Styles/bootstrap-datetimepicker.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/Lib/Styles/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/Lib/Styles/jasny-bootstrap.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/Styles/Main.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/Styles/UserBlock.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/Styles/Team.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Styles/Projects.css")" />

    <script src="@Url.Content("~/Scripts/Lib/jquery-2.1.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Lib/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Lib/moment.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Lib/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Lib/jasny-bootstrap.js")"></script>
    <script src="@Url.Content("~/Scripts/Main.js")"></script>
</head>

<body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        @if (Request.IsAuthenticated)
        {
            <div class="row">
                <div class="navbar-header col-lg-1 col-md-1 col-sm-2">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">TEMPUS</a>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-10">
                    <ul id="menu-list" class="collapse navbar-collapse nav navbar-nav">
                        @*@Html.MainMenuItem("Today", "Tasks", "Account")*@
                        @Html.MainMenuItem("Projects", "Index", "Projects")
                        @Html.MainMenuItem("Project plan", "Plan", "Projects")
                        @Html.MainMenuItem("Project flow", "Index", "Flow")
                        @Html.MainMenuItem("Tasks", "Index", "Tasks")
                        @Html.MainMenuItem("Risks", "Index", "Risks")
                        @Html.MainMenuItem("Team", "Index", "Team")
                        @Html.MainMenuItem("Time Records", "Index", "TimeReport")
                    </ul>
                </div>

                <!-- User Block -->
                @{ Html.RenderAction("UserMenu", "Account"); }
               
            </div>
        }
    </div>

    <div id="heightStub" class="visible-xs visible-sm"></div>

    <div id="content">
        <div class="container">
            @RenderBody()
        </div>
    </div>

    <div id="footer">
        <div class="container">
            <p class="text-muted text-center">2014 &copy; Copyright</p>
        </div>
    </div>
</body>

</html>
