<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="@Url.Content("~/Images/favicon.ico")">

    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/Lib/Styles/bootstrap.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/Lib/Styles/bootstrap-theme.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/Lib/Styles/bootstrap-datetimepicker.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/Lib/Styles/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/Styles/Main.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/Styles/UserBlock.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/Styles/Projects.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Styles/Projects/Flow.css")" />

    <script src="@Url.Content("~/Scripts/Lib/jquery-2.1.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Lib/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Lib/moment.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Lib/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Main.js")"></script>
</head>

<body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        @if (Request.IsAuthenticated)
        {
            <div class="container">
                    @{ Html.RenderAction("TopNavigation", "Base"); }
            </div>
        }
    </div>


    <div id="content">
        <div class="container">
            @RenderBody()
        </div>
    </div>

    <div id="footer">
        <div class="container">
            <p class="text-muted text-center offset-top">@DateTime.Now.Year &copy; Copyright</p>
        </div>
    </div>
</body>

</html>
